li{
    margin-bottom: 20px;
}

.spinner {
    height: 15px;
    width: 15px;
    border: 3px solid transparent;
    border-top-color: #A04668;
    margin: 15px;
    border-radius: 50%;
    animation: spin 2s linear infinite;
}
.spinner:before, .spinner:after {
    content: "";
    position: absolute;
    border: 3px solid transparent;
    border-radius: 50%;
}
.spinner:before {
    border-top-color: #254E70;
    top: -12px;
    left: -12px;
    right: -12px;
    bottom: -12px;
    animation: spin 3s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}